[user]
    name = Ridhwaan Shakeel
    email = shakeel.ridhwaan@gmail.com
[push]
    default = simple
[alias]
    ec = config --global -e
    up = !git pull --rebase --prune $@ && git submodule update --init --recursive
    co = checkout
    cob = checkout -b
    cm = !git add -A && git commit -m
    save = !git add -A && git commit -m "SAVEPOINT"
    wip = commit -am "WIP" 
    undo = reset HEAD~1 --mixed
    undo2 = reset --soft HEAD^
    find = log --color --source -S
    amend = commit -a --amend --reuse-message=HEAD
    contributors = shortlog --summary --numbered
    show-ls = diff-tree --no-commit-id --name-only -r # provide commit hash
    rm-ignored = rm -r --cached . && git add . && git commit -am "Remove ignored files"
