# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more

# Submodules (modified content)
.gitmodules

.nvm/
.pyenv/
.rbenv/
.sdkman/
.vim/
.zsh/
.sdkman/

.pyenv/plugins/pyenv-virtualenv/
.rbenv/plugins/ruby-build/
.rbenv/plugins/rbenv-gemset/

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
*Zone.Identifier