# See https://git-scm.com/docs/git-config for more
[user]
    name = Rid Shakeel
    email = shakeel.ridhwaan@gmail.com
[push]
    default = simple
[alias]
    ec = config --global -e
    up = !git pull --rebase --prune $@ && git submodule update --init --recursive
    cm = !git add -A && git commit -m
    save = !git add -A && git commit -m "SAVEPOINT"
    wip = commit -am "WIP"
    undo = reset HEAD~1 --mixed
    undo2 = reset --soft HEAD^
    find = log --color --source -S
    amend = commit -a --amend --reuse-message=HEAD
    contrib = shortlog --summary --numbered
    show-ls = !git rev-parse HEAD | xargs git diff-tree --no-commit-id --name-only -r
    refresh-ignore = rm -r --cached . && git add . && git commit -am "Refresh .gitignore"
    pr = "!f() { git fetch $1 pull/$2/head:pull_$2; git checkout pull_$2; }; f"
[url "git@github.com:"]
    pushInsteadOf = https://github.com/
