# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more

# non-submodules
.sdkman/

# everything except
.vim/bundle/
!.vim/bundle/Vundle.vim

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
*Zone.Identifier
